
<div class="container add-button">
    <button mat-raised-button (click)="openDialogAddBranch()" color="primary">
      <mat-icon>add</mat-icon>
      <span>Add new branch </span>
    </button>
</div>


<div *ngIf="check" class="container ">
  <div id="card" *ngFor="let branch of branches">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title><h4>{{branch.name}} </h4></mat-card-title>
        <mat-card-subtitle>{{branch.country.name}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/b/b2/DARPA_headquarters.jpg" alt="Photo of a branch ">
        </div>

        <h5>Address</h5>
        <div>
          {{branch.address}}
        </div>
        <h5>City</h5>
        <div>
          {{branch.city}}
        </div>
        <h5>Zip code</h5>
        <div>
          {{branch.zipCode}}
        </div>

      </mat-card-content>
      <mat-card-actions>
        <button class="mat-raised-button mat-primary"  mat-button (click)="openDialogEditBranch(branch)">Edit</button>
        <button class="mat-raised-button mat-warn"  mat-button (click)="deleteBranch(branch)">Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div *ngIf="!check" class="container">
  <h2 class="align-content-center">Branches do not exist!</h2>
</div>
