.example-card {
  width: 300px;
}

#card{
  display: inline-block;
  border-width: 3px;
  border-style: ridge;
  margin: 1em;
  padding: 1em;
}

.container {

  margin-top: 30px;
  margin-bottom: 30px;
}

.example-header-image {
  background-image: url('https://get.pxhere.com/photo/architecture-structure-building-facade-professional-headquarters-daylighting-atmosphere-of-earth-17951.jpg');
  background-size: cover;
}
