<h2 mat-dialog-title>Edit user <span class="green">{{user.name}} </span></h2>

<mat-dialog-content [formGroup]="form" fxLayout="column">

  <mat-form-field fxFlex="auto">
    <input    type="text" matInput formControlName="name" placeholder="Name" minlength="2" maxlength="60" [(ngModel)]="user.name" value={{user.name}} >
    <mat-error >
      <span *ngIf="form.get('name').hasError('required')">Name is required</span>
      <span *ngIf="form.get('name').hasError('minlength') ">Name is too short</span>
      <span *ngIf="form.get('name').hasError('maxlength') ">Name is to long</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex="auto">
    <input   matInput formControlName="email"   placeholder="Email"  email [(ngModel)]="user.email" value={{user.email}}>
    <mat-error >
      <span *ngIf="form.get('email').hasError('required')">Email is required</span>
      <span *ngIf="form.get('email').hasError('email') ">It is not an email</span>
      <span *ngIf = "!(form.get('email').hasError('required') || form.get('email').hasError('email'))">
        Name already exists</span>
    </mat-error>
  </mat-form-field>


  <mat-form-field>
    <mat-select formControlName="role"    placeholder="{{user.role.name}}" [(ngModel)]="user.role" >
      <mat-option *ngFor = "let role of roles"  [value]="role">{{role.name}}</mat-option>
      <mat-error >
        <span *ngIf="!form.get('role').valid ">Role is required</span>
      </mat-error>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select formControlName="active"   placeholder="{{user.active}}" [(ngModel)]="user.active" >
      <mat-option   [value]="true">True</mat-option>
      <mat-option   [value]="false">False</mat-option>
      <mat-error >
        <span *ngIf="!form.get('active').valid ">Set active is required</span>
      </mat-error>
    </mat-select>
  </mat-form-field>


</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" [disabled]="!form.valid" (click)="save()">Save</button>
</mat-dialog-actions>
