a{
  color: white;
  padding: 10px;
}

#adminMenu{
  color: black;
  padding: 10px;
}


.bg-green{
  background-color: darkslategray;
}

#logout{
  cursor: pointer;
}

.active-link {
  color: burlywood;
}

#admin {
  background-color: coral;
}
