a{
  color: white;
  padding: 10px;
}

#adminMenu{
  color: black;
  padding: 10px;
}


.bg-green{
  background-color: darkslategray;
}

#logout{
  cursor: pointer;
}

.active-link {
  color: burlywood;
}

#admin {
  color: white;
  background-color: coral;
}


.panel-heading {
  color: darkred;
  font-size: 14px;
}

.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
  margin-right: -6px;
}
.dropdown-submenu {
  position:relative;
}
.dropdown-submenu>.dropdown-menu {
  top:0;
  left: 100%;
  margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
  text-decoration: underline;
  transform: rotate(-90deg);
}
