
<section fxLayout="row wrap" fxLayoutAlign="center center" class="margin">

      <mat-card fxFlex="500px" fxFlex.xs="100%" class="login-form">
        <mat-card-title>Login</mat-card-title>

        <mat-card-content fxLayout="column" >
          <form fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="login(f)">
            <mat-form-field>
              <input type="email" matInput placeholder="Enter your email" ngModel name="email" email required #emInput="ngModel">
              <mat-error *ngIf="emInput.hasError('required')">Fild must not be empty</mat-error>
              <mat-error *ngIf="!emInput.hasError('required')">Email is invalid</mat-error>
            </mat-form-field>
            <mat-form-field hintLabel="Should be at least 4 character long">
              <input type="password" matInput placeholder="Enter your password" ngModel name="password" required minlength="4" #psInput="ngModel">
              <mat-hint align="end"> {{psInput.value?.length}}/4</mat-hint>
              <mat-error>Has to be at least 4 characters long</mat-error>
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
          </form>
        </mat-card-content>
      </mat-card>

</section>

<!--fxFlex.xs="100%" fxFlex.sm="80%" -->
