.example-card {
  width: 300px;
}

#card{
  display: inline-block;
  border-width: 3px;
  border-style: ridge;
  margin: 1em;
  padding: 1em;
}

.container {

  margin-top: 30px;
  margin-bottom: 30px;
}

.example-header-image {
  background-image: url('https://qph.fs.quoracdn.net/main-qimg-39dd2bf2c24581816458c93c8c0df325');
  background-size: cover;
}
