<h2 mat-dialog-title>Add branch </h2>

<mat-dialog-content [formGroup]="form" fxLayout="column">

  <mat-form-field fxFlex="auto">
    <input    type="text" matInput formControlName="name" placeholder="Name"  >
    <mat-error >
      <span *ngIf="form.get('name').hasError('required')">Name is required</span>
      <span *ngIf = "!form.get('name').hasError('required')">Name already exists</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex="auto">
    <input   matInput formControlName="address"   placeholder="Address"   >
    <mat-error>
      <span *ngIf="!form.get('address').valid ">Address is required</span>
    </mat-error>
  </mat-form-field>


  <mat-form-field>
    <mat-select formControlName="country"   placeholder="Country" >
      <mat-option *ngFor = "let country of countries"  [value]="country">{{country.name}}</mat-option>
      <mat-error >
        <span *ngIf="!form.get('country').valid ">Country is required</span>
      </mat-error>
    </mat-select>
  </mat-form-field>

  <mat-form-field fxFlex="auto">
    <input   matInput formControlName="city" placeholder="City"  >
    <mat-error >
      <span *ngIf="!form.get('city').valid ">City is required</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input   matInput formControlName="zipCode" placeholder="Zip Code">
    <mat-error >
      <span *ngIf="!form.get('zipCode').valid ">Zip code is required</span>
    </mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>

