<h2 mat-dialog-title>Add carrier type </h2>

<mat-dialog-content [formGroup]="form" fxLayout="column">

  <mat-form-field fxFlex="auto">
    <input  class="form-control"  type="text" matInput formControlName="name" placeholder="Name"  >
    <mat-error >
      <span *ngIf="form.get('name').hasError('required')">Name is required</span>
      <span *ngIf = "!form.get('name').hasError('required')">Name already exists</span>
    </mat-error>
  </mat-form-field>


</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>
