<h2 mat-dialog-title>Edit recipient <span class="green">{{project.number}} </span></h2>

<mat-dialog-content [formGroup]="form" fxLayout="column">

  <mat-form-field fxFlex="auto">
    <input   type="text" matInput formControlName="number" placeholder="NUmber" [(ngModel)]="project.number" value={{project.number}}>
    <mat-error >
      <span *ngIf="form.get('number').hasError('required')">Number is required</span>
      <span *ngIf="form.get('number').hasError('uniqueProjectValidator')">Number already exists</span>
      <span *ngIf="form.get('number').hasError('minlength') ">Number is too short</span>
      <span *ngIf="form.get('number').hasError('maxlength') ">Number is too long</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex="auto">
    <input   matInput formControlName="name"   placeholder="Name" [(ngModel)]="project.name" value={{project.name}} >
    <mat-error>
      <span *ngIf="form.get('name').hasError('required')">Name is required</span>
      <span *ngIf="form.get('name').hasError('minlength') ">Name is too short</span>
      <span *ngIf="form.get('name').hasError('maxlength') ">Name is too long</span>
    </mat-error>
  </mat-form-field>


  <mat-form-field>
    <mat-select formControlName="client"   placeholder="{{project.client.name}}" [(ngModel)]="project.client">
      <mat-option *ngFor = "let client of clients"  [value]="client">{{client.name}}</mat-option>
      <mat-error >
        <span *ngIf="!form.get('client').valid ">Client is required</span>
      </mat-error>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select formControlName="projectStatus"   placeholder="{{project.projectStatus.name}}" [(ngModel)]="project.projectStatus">
      <mat-option *ngFor = "let projectStatus of projectStatuses"  [value]="projectStatus">{{projectStatus.name}}</mat-option>
      <mat-error >
        <span *ngIf="!form.get('projectStatus').valid ">Project status is required</span>
      </mat-error>
    </mat-select>
  </mat-form-field>

  <mat-form-field fxFlex="auto">
    <input type="date"  matInput formControlName="startDate" placeholder="StartDate" [(ngModel)]="project.startDate" value={{project.startDate}}>
    <mat-error >
      <span *ngIf="!form.get('startDate').valid ">Start date is required</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex="auto">
    <input type="date"  matInput formControlName="endDate" placeholder="EndDate" [(ngModel)]="project.endDate" value={{project.endDate}}>
    <mat-error >
      <span *ngIf="!form.get('endDate').valid ">End date is required</span>
    </mat-error>
  </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>
