
  <section id="about">
      <div class="row">

        <div class="col-lg-5 col-md-12">
          <div class="about-img">
            <img src="https://images.glaciermedia.ca/polopoly_fs/1.6960235.1484143123!/fileImage/httpImage/image.jpg_gen/derivatives/landscape_804/cpt605382902-high-jpg.jpg" alt="">
          </div>
        </div>

        <div class="col-lg-6 col-md-12">
          <div class="about-content">
            <h2>Shipment Register</h2>
            <h3>This is a platform for registering project shipments in your company.</h3>
            <h4>You can divide users into the following roles:</h4>

            <ul>
              <li><mat-icon>verified_user</mat-icon>Admin</li>
              <li><mat-icon>how_to_reg</mat-icon>User</li>
              <li><mat-icon>person</mat-icon>Viewer</li>
            </ul>
            </div>
        </div>
      </div>
  </section>

