.add-button {
  margin-top: 30px;
  display: block;
}

.tbn {
  margin-top: 3em;
  display: block;
}

::ng-deep .button {
  margin: 5px;
}



.close {
  border-style: none;
  background-color: lightgreen;
}
