<h2 mat-dialog-title>Edit carrierType <span class="green">{{projectStatus.name}} </span></h2>

<mat-dialog-content [formGroup]="form" fxLayout="column">

  <mat-form-field fxFlex="auto">
    <input  type="text" matInput formControlName="name" placeholder="Name" [(ngModel)]="projectStatus.name" value={{projectStatus.name}}>
    <mat-error >
      <span *ngIf="!form.get('name').valid ">Name is required</span>
    </mat-error>
  </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" [disabled]="!form.valid" (click)="save()">Save</button>
</mat-dialog-actions>
